Vladimir Kantorovich
345027767

# **filter**

clearing data from errors

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data from the parquet file
train = pd.read_parquet('train.parquet')
test = pd.read_parquet('test.parquet')
train.head()

,age,boat,body,cabin,embarked,fare,home.dest,name,parch,pclass,sex,sibsp,survived,ticket
199,-1,C,-1,Unknown,0,15.2458,Unknown,"Moubarek, Master. Halim Gonios ('William George')",1,2,0,1,1,2661
706,12,C,-1,Unknown,0,11.2417,Unknown,"Nicola-Yarred, Master. Elias",0,2,0,1,1,2651
555,18,Unknown,-1,Unknown,2,13.0000,"Kontiolahti, Finland / Detroit, MI","Hiltunen, Miss. Marta",1,1,1,1,0,250650
382,37,Unknown,-1,Unknown,2,9.5875,Unknown,"Laitinen, Miss. Kristina Sofia",0,2,1,0,0,4135
316,41,Unknown,-1,Unknown,2,39.6875,Unknown,"Panula, Mrs. Juha (Maria Emilia Ojala)",5,2,1,0,0,3101295

In [77]:
test.head()

,age,boat,body,cabin,embarked,fare,home.dest,name,parch,pclass,sex,sibsp,survived,ticket
670,64,Unknown,263,Unknown,2,26.0000,"Isle of Wight, England","Nicholson, Mr. Arthur Ernest",0,0,0,0,0,693
251,48,14,-1,Unknown,2,36.7500,"St Ives, Cornwall / Hancock, MI","Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",2,1,1,0,1,C.A. 33112
1225,35,Unknown,-1,Unknown,1,12.3500,Unknown,"Keane, Mr. Daniel",0,1,0,0,0,233734
300,19,Unknown,-1,C23 C25 C27,2,263.0000,"Winnipeg, MB","Fortune, Mr. Charles Alexander",2,0,0,3,0,19950
352,4,15,-1,Unknown,2,11.1333,Unknown,"Johnson, Master. Harold Theodor",1,2,0,1,1,347742

In [78]:
unique_values = train['body'].unique()
print(unique_values)

[ -1 201 175 314 143  67 287  61  43  98 328  16 298  96 292 101  97   9
 166 209  14  38   4 133 174 207 260  81 305 171  18 173  15 295 103  46
  19 261 124 284 131 156 232 206 110 294 135  50 258  17 148 293 190 322
  89 130  69 197  70  32 269  68 142 297 271  79 196 255 306 312  52 109
 165  75 304 169 249 259 120 119 149 181  35 236 188 172 299   1  80 275
 147 245 126  22  72]

In [79]:

train = train.reset_index()
train = train.rename(columns={'index': 'PassengerId'})
train = train.set_index('PassengerId')
print(train.head())

             age     boat  body    cabin  embarked     fare  \
PassengerId
199           -1        C    -1  Unknown         0  15.2458
706           12        C    -1  Unknown         0  11.2417
555           18  Unknown    -1  Unknown         2  13.0000
382           37  Unknown    -1  Unknown         2   9.5875
316           41  Unknown    -1  Unknown         2  39.6875

                                      home.dest  \
PassengerId
199                                     Unknown
706                                     Unknown
555          Kontiolahti, Finland / Detroit, MI
382                                     Unknown
316                                     Unknown

                                                          name  parch  pclass  \
PassengerId
199          Moubarek, Master. Halim Gonios ('William George')      1       2
706                               Nicola-Yarred, Master. Elias      0       2
555                                      Hiltunen, Miss. Marta      1       1
382                             Laitinen, Miss. Kristina Sofia      0       2
316                     Panula, Mrs. Juha (Maria Emilia Ojala)      5       2

             sex  sibsp  survived   ticket
PassengerId
199            0      1         1     2661
706            0      1         1     2651
555            1      1         0   250650
382            1      0         0     4135
316            1      0         0  3101295

In [80]:
def replace_age_outside_range(df):
    df['age'] = np.where((df['age'] >= 0) & (df['age'] <= 120), df['age'], -1)
    return df

In [81]:
train = replace_age_outside_range(train)
test = replace_age_outside_range(test)

In [82]:
def clean_ticket_column(df):
    def process_ticket(value):
        # Check if value is a number
        if isinstance(value, (int, float)):
            return value
        # Remove non-numeric characters
        elif isinstance(value, str):
            numeric_value = ''.join(filter(str.isdigit, value))
            return int(numeric_value) if numeric_value else -1
        # Replace anything else with -1
        else:
            return -1

    df['ticket'] = df['ticket'].apply(process_ticket)
    return df

# Apply the function to both train and test datasets
train = clean_ticket_column(train)
test = clean_ticket_column(test)

In [83]:
def count_unique_values(df, column_name):
    unique_counts = df[column_name].value_counts().to_dict()
    return unique_counts

In [84]:

# Specify the column name to process
column_to_process = 'boat'

# Get unique value counts for both train and test datasets
train_unique_counts = count_unique_values(train, column_to_process)
test_unique_counts = count_unique_values(test, column_to_process)

# Display the unique value counts
print("Train dataset unique value counts for column", column_to_process)
print(train_unique_counts)

print("Test dataset unique value counts for column", column_to_process)
print(test_unique_counts)

Train dataset unique value counts for column boat
{'Unknown': 655, '15': 34, '13': 32, 'C': 29, '10': 27, '14': 26, '4': 25, '5': 23, '16': 20, '11': 19, '3': 19, '8': 19, 'D': 18, '7': 17, '12': 17, '6': 15, '9': 14, '2': 10, 'A': 8, 'B': 8, '1': 4, '13 15': 2, '5 7': 2, '5 9': 1, '13 15 B': 1, '8 10': 1, '15 16': 1}
Test dataset unique value counts for column boat
{'Unknown': 168, '9': 11, 'C': 9, '3': 7, '13': 7, '14': 7, '4': 6, '11': 6, '7': 6, '6': 5, '5': 4, '8': 4, '16': 3, '2': 3, 'A': 3, '15': 3, '10': 2, 'C D': 2, '12': 2, 'D': 2, '1': 1, 'B': 1}

In [85]:
def replace_values(df, column_name, replacement_dict):
    df[column_name] = df[column_name].replace(replacement_dict)
    return df


replacement_dict = {'Unknown':0,'A': 100, 'B': 101, 'C': 102, 'D': 103}

# Apply the replacement function to both train and test datasets
train = replace_values(train, column_to_process, replacement_dict)
test = replace_values(test, column_to_process, replacement_dict)

In [86]:
column_to_process = 'cabin'
train_unique_counts = count_unique_values(train, column_to_process)
test_unique_counts = count_unique_values(test, column_to_process)

# Display the unique value counts
print("Train dataset unique value counts for column", column_to_process)
print(train_unique_counts)

print("Test dataset unique value counts for column", column_to_process)
print(test_unique_counts)

Train dataset unique value counts for column cabin
{'Unknown': 820, 'F4': 4, 'C23 C25 C27': 4, 'F33': 4, 'G6': 4, 'B57 B59 B63 B66': 4, 'F2': 4, 'E101': 3, 'C78': 3, 'D': 3, 'C22 C26': 3, 'E34': 3, 'C106': 2, 'C89': 2, 'B22': 2, 'B71': 2, 'C55 C57': 2, 'C6': 2, 'F G63': 2, 'E8': 2, 'C93': 2, 'C83': 2, 'B28': 2, 'D21': 2, 'C54': 2, 'C126': 2, 'E25': 2, 'B58 B60': 2, 'D19': 2, 'B49': 2, 'C85': 2, 'E33': 2, 'B96 B98': 2, 'C46': 2, 'D30': 2, 'D35': 2, 'C80': 2, 'E31': 2, 'D37': 2, 'C92': 2, 'B20': 2, 'B5': 2, 'C32': 2, 'D26': 2, 'E50': 2, 'C101': 2, 'E44': 2, 'D15': 2, 'D17': 2, 'D20': 2, 'B77': 2, 'D33': 2, 'A34': 2, 'C68': 2, 'C123': 2, 'E46': 2, 'E24': 2, 'A20': 1, 'A19': 1, 'D45': 1, 'C111': 1, 'C28': 1, 'B26': 1, 'C116': 1, 'D11': 1, 'B11': 1, 'B50': 1, 'F E69': 1, 'B73': 1, 'B61': 1, 'F E46': 1, 'C99': 1, 'C2': 1, 'A6': 1, 'C148': 1, 'E58': 1, 'A26': 1, 'B78': 1, 'D6': 1, 'C103': 1, 'C90': 1, 'B19': 1, 'B69': 1, 'C91': 1, 'E63': 1, 'B36': 1, 'C65': 1, 'E12': 1, 'F E57': 1, 'C7': 1, 'C45': 1, 'C125': 1, 'E49': 1, 'C97': 1, 'B80': 1, 'C51': 1, 'E38': 1, 'T': 1, 'A5': 1, 'B45': 1, 'A9': 1, 'E77': 1, 'D22': 1, 'D56': 1, 'C87': 1, 'B94': 1, 'D46': 1, 'B51 B53 B55': 1, 'C110': 1, 'D38': 1, 'E17': 1, 'B18': 1, 'D47': 1, 'C95': 1, 'A18': 1, 'A11': 1, 'A10': 1, 'D10 D12': 1, 'C39': 1, 'C52': 1, 'B102': 1, 'C124': 1, 'D34': 1, 'B52 B54 B56': 1, 'C70': 1, 'A32': 1, 'E45': 1, 'B79': 1, 'B39': 1, 'B41': 1, 'E121': 1, 'D7': 1, 'E36': 1, 'B37': 1, 'A14': 1, 'C31': 1, 'F': 1, 'C128': 1, 'F38': 1, 'B4': 1, 'C86': 1, 'E68': 1, 'E52': 1, 'C62 C64': 1, 'A23': 1, 'C82': 1, 'D50': 1, 'B82 B84': 1, 'E67': 1, 'D9': 1, 'B35': 1, 'E10': 1, 'A36': 1, 'C118': 1, 'D36': 1}
Test dataset unique value counts for column cabin
{'Unknown': 194, 'B51 B53 B55': 2, 'F G73': 2, 'C23 C25 C27': 2, 'D28': 2, 'B96 B98': 2, 'E39 E41': 1, 'C7': 1, 'C105': 1, 'A34': 1, 'D10 D12': 1, 'B45': 1, 'B42': 1, 'C52': 1, 'C62 C64': 1, 'C22 C26': 1, 'A31': 1, 'B30': 1, 'D': 1, 'C78': 1, 'A21': 1, 'C65': 1, 'B69': 1, 'B86': 1, 'C86': 1, 'C53': 1, 'A24': 1, 'C116': 1, 'D49': 1, 'B41': 1, 'B38': 1, 'B78': 1, 'D48': 1, 'C101': 1, 'C30': 1, 'E121': 1, 'C130': 1, 'B101': 1, 'B35': 1, 'A16': 1, 'C50': 1, 'C125': 1, 'C47': 1, 'C104': 1, 'E40': 1, 'A29': 1, 'B18': 1, 'C31': 1, 'G6': 1, 'B24': 1, 'B3': 1, 'C124': 1, 'D43': 1, 'B10': 1, 'D40': 1, 'A7': 1, 'E60': 1, 'C132': 1, 'B57 B59 B63 B66': 1, 'C2': 1, 'C49': 1, 'E67': 1, 'D36': 1, 'B58 B60': 1}

In [87]:
train[column_to_process] = train[column_to_process].apply(lambda x: 0 if x == "Unknown" else 1)
test[column_to_process] = test[column_to_process].apply(lambda x: 0 if x == "Unknown" else 1)

In [88]:
def clean_ticket_column(df):
    def process_ticket(value):
        # Check if value is a number
        if isinstance(value, (int, float)):
            return value
        # Remove non-numeric characters if it's a string
        elif isinstance(value, str):
            numeric_value = ''.join(filter(str.isdigit, value))
            return int(numeric_value) if numeric_value else -1
        # Replace anything else with -1
        else:
            return -1

    df['ticket'] = df['ticket'].apply(process_ticket)
    return df

In [89]:
column_to_process = 'fare'  # Replace 'your_column_name' with the actual column name

# Get unique value counts for both train and test datasets
train_unique_counts = count_unique_values(train, column_to_process)
test_unique_counts = count_unique_values(test, column_to_process)

# Display the unique value counts
print("Train dataset unique value counts for column", column_to_process)
print(train_unique_counts)

print("Test dataset unique value counts for column", column_to_process)
print(test_unique_counts)

Train dataset unique value counts for column fare
{8.050000190734863: 51, 13.0: 50, 7.75: 42, 26.0: 42, 7.8958001136779785: 38, 10.5: 28, 7.925000190734863: 21, 7.775000095367432: 20, 26.549999237060547: 20, 8.662500381469727: 19, 7.2291998863220215: 19, 7.224999904632568: 16, 7.25: 15, 7.8541998863220215: 14, 0.0: 13, 21.0: 12, 14.5: 10, 69.55000305175781: 9, 16.100000381469727: 9, 7.79580020904541: 9, 15.5: 9, 14.45419979095459: 9, 56.49580001831055: 8, 9.5: 8, 27.720800399780273: 8, 52.0: 8, 23.0: 7, 13.5: 7, 31.274999618530273: 7, 15.245800018310547: 7, 7.050000190734863: 7, 7.550000190734863: 6, 53.099998474121094: 6, 39.0: 6, 27.899999618530273: 6, 11.5: 6, 30.0: 6, 7.73330020904541: 6, 24.149999618530273: 6, 7.879199981689453: 6, 46.900001525878906: 6, 39.6875: 5, 262.375: 5, 27.75: 5, 31.387500762939453: 5, 21.075000762939453: 5, 151.5500030517578: 5, 83.1583023071289: 5, 52.55419921875: 4, 14.45829963684082: 4, 34.375: 4, 7.650000095367432: 4, 90.0: 4, 263.0: 4, 73.5: 4, 12.350000381469727: 4, 221.77920532226562: 4, 29.700000762939453: 4, 26.25: 4, 20.575000762939453: 4, 15.850000381469727: 4, 59.400001525878906: 4, 135.63330078125: 4, 79.19999694824219: 4, 110.88330078125: 4, 29.125: 4, 51.86249923706055: 4, 26.287500381469727: 3, 22.524999618530273: 3, 77.95829772949219: 3, 33.0: 3, 13.85830020904541: 3, 6.495800018310547: 3, 20.212499618530273: 3, 32.5: 3, 35.5: 3, 15.04580020904541: 3, 12.475000381469727: 3, 30.5: 3, 22.358299255371094: 3, 23.450000762939453: 3, 20.25: 3, 6.4375: 3, 211.5: 3, 18.75: 3, 227.52499389648438: 3, 31.5: 3, 134.5: 3, 9.225000381469727: 3, 37.00419998168945: 3, 55.44169998168945: 3, 7.495800018310547: 3, 164.86669921875: 3, 7.125: 3, 211.33749389648438: 3, 78.8499984741211: 3, 23.25: 3, 86.5: 3, 41.579200744628906: 3, 8.712499618530273: 2, 9.350000381469727: 2, 83.4749984741211: 2, 7.0: 2, 7.629199981689453: 2, 7.737500190734863: 2, 49.50419998168945: 2, 11.133299827575684: 2, 17.399999618530273: 2, 13.862500190734863: 2, 15.741700172424316: 2, 6.949999809265137: 2, 16.0: 2, 80.0: 2, 146.5207977294922: 2, 120.0: 2, 136.77920532226562: 2, 512.3292236328125: 2, 31.0: 2, 93.5: 2, 8.51669979095459: 2, 61.17499923706055: 2, 71.2833023071289: 2, 56.92919921875: 2, 106.42500305175781: 2, 71.0: 2, 16.700000762939453: 2, 153.46249389648438: 2, 21.67919921875: 2, 47.099998474121094: 2, 14.10830020904541: 2, 91.0792007446289: 2, 247.5207977294922: 2, 18.787500381469727: 2, 82.1707992553711: 2, 10.462499618530273: 2, 7.82919979095459: 2, 18.0: 2, 25.92919921875: 2, 55.900001525878906: 2, 12.183300018310547: 2, 6.974999904632568: 2, 77.2874984741211: 2, 75.25: 2, 30.07080078125: 2, 13.774999618530273: 2, 12.875: 2, 57.0: 2, 17.799999237060547: 2, 6.75: 2, 22.024999618530273: 2, 133.64999389648438: 2, 19.25830078125: 2, 79.6500015258789: 2, 76.72920227050781: 2, 25.466699600219727: 2, 81.8582992553711: 2, 65.0: 2, 89.10420227050781: 2, 15.899999618530273: 2, 78.2667007446289: 2, 9.587499618530273: 2, 76.29170227050781: 2, 9.0: 2, 36.75: 2, 57.75: 2, 28.5: 2, 55.0: 2, 75.24169921875: 2, 50.0: 2, 7.054200172424316: 2, 11.241700172424316: 2, 15.550000190734863: 2, 9.475000381469727: 1, 8.362500190734863: 1, 60.0: 1, 10.51669979095459: 1, 7.5208001136779785: 1, 12.0: 1, 14.0: 1, 40.125: 1, 34.65420150756836: 1, 7.7291998863220215: 1, 26.283300399780273: 1, 8.137499809265137: 1, 7.57919979095459: 1, 39.599998474121094: 1, 7.787499904632568: 1, 6.85830020904541: 1, 20.524999618530273: 1, 42.5: 1, 82.2667007446289: 1, 7.779200077056885: 1, 42.400001525878906: 1, 8.112500190734863: 1, 4.012499809265137: 1, 8.850000381469727: 1, 9.837499618530273: 1, 8.029199600219727: 1, 33.5: 1, 27.0: 1, 38.5: 1, 61.97919845581055: 1, 108.9000015258789: 1, 6.237500190734863: 1, 7.3125: 1, 7.283299922943115: 1, 7.820799827575684: 1, 6.449999809265137: 1, 7.724999904632568: 1, 19.966699600219727: 1, 8.45829963684082: 1, 8.300000190734863: 1, 25.700000762939453: 1, 12.274999618530273: 1, 66.5999984741211: 1, 9.216699600219727: 1, 14.399999618530273: 1, 7.14169979095459: 1, -1.0: 1, 9.824999809265137: 1, 9.841699600219727: 1, 32.32080078125: 1, 26.387500762939453: 1, 7.849999904632568: 1, 25.587499618530273: 1, 19.5: 1, 15.75: 1, 49.5: 1, 51.47919845581055: 1, 8.433300018310547: 1, 27.44580078125: 1, 8.683300018310547: 1, 15.0: 1, 30.69580078125: 1, 8.158300399780273: 1, 9.48330020904541: 1, 57.97919845581055: 1, 25.74169921875: 1, 10.17080020904541: 1, 12.649999618530273: 1, 7.887499809265137: 1, 24.0: 1, 15.033300399780273: 1, 7.720799922943115: 1, 9.324999809265137: 1, 12.287500381469727: 1, 3.170799970626831: 1, 34.02080154418945: 1, 7.741700172424316: 1, 13.899999618530273: 1, 45.5: 1, 8.962499618530273: 1, 10.70829963684082: 1, 7.04580020904541: 1, 35.0: 1, 69.30000305175781: 1, 63.358299255371094: 1, 12.524999618530273: 1, 9.845800399780273: 1, 13.41670036315918: 1, 29.0: 1, 31.683300018310547: 1, 61.37919998168945: 1, 113.2750015258789: 1}
Test dataset unique value counts for column fare
{7.75: 13, 7.8958001136779785: 11, 8.050000190734863: 9, 13.0: 9, 26.0: 8, 7.8541998863220215: 7, 10.5: 7, 7.775000095367432: 6, 7.2291998863220215: 5, 7.224999904632568: 5, 7.879199981689453: 4, 9.5: 4, 0.0: 4, 7.25: 3, 25.466699600219727: 3, 30.5: 3, 16.100000381469727: 3, 65.0: 3, 73.5: 3, 27.720800399780273: 3, 24.149999618530273: 3, 211.5: 2, 46.900001525878906: 2, 7.925000190734863: 2, 120.0: 2, 15.245800018310547: 2, 512.3292236328125: 2, 7.050000190734863: 2, 26.25: 2, 26.549999237060547: 2, 18.0: 2, 8.662500381469727: 2, 7.650000095367432: 2, 39.400001525878906: 2, 19.25830078125: 2, 15.100000381469727: 2, 7.550000190734863: 2, 36.75: 2, 20.524999618530273: 2, 31.387500762939453: 2, 69.55000305175781: 2, 108.9000015258789: 2, 263.0: 2, 79.19999694824219: 2, 21.0: 2, 113.2750015258789: 2, 50.49580001831055: 2, 93.5: 2, 14.399999618530273: 2, 134.5: 2, 262.375: 2, 39.6875: 2, 29.125: 2, 227.52499389648438: 2, 39.599998474121094: 2, 29.0: 2, 35.5: 1, 24.0: 1, 8.654199600219727: 1, 151.5500030517578: 1, 9.350000381469727: 1, 41.579200744628906: 1, 146.5207977294922: 1, 51.47919845581055: 1, 164.86669921875: 1, 30.0: 1, 82.2667007446289: 1, 63.358299255371094: 1, 247.5207977294922: 1, 14.45419979095459: 1, 9.824999809265137: 1, 61.37919998168945: 1, 106.42500305175781: 1, 76.72920227050781: 1, 19.5: 1, 90.0: 1, 8.404199600219727: 1, 12.287500381469727: 1, 13.79170036315918: 1, 15.741700172424316: 1, 61.97919845581055: 1, 15.5: 1, 31.0: 1, 28.537500381469727: 1, 27.0: 1, 13.899999618530273: 1, 7.79580020904541: 1, 14.5: 1, 7.82919979095459: 1, 55.44169998168945: 1, 81.8582992553711: 1, 15.899999618530273: 1, 21.67919921875: 1, 22.024999618530273: 1, 13.41670036315918: 1, 23.450000762939453: 1, 12.737500190734863: 1, 15.050000190734863: 1, 29.700000762939453: 1, 8.112500190734863: 1, 153.46249389648438: 1, 83.1583023071289: 1, 69.30000305175781: 1, 7.724999904632568: 1, 15.75: 1, 13.774999618530273: 1, 9.6875: 1, 7.125: 1, 39.0: 1, 11.133299827575684: 1, 12.350000381469727: 1, 34.375: 1, 42.400001525878906: 1, 19.966699600219727: 1, 25.924999237060547: 1, 12.475000381469727: 1, 15.57919979095459: 1, 79.6500015258789: 1, 7.875: 1, 28.712499618530273: 1, 66.5999984741211: 1, 30.69580078125: 1, 7.73330020904541: 1, 31.67919921875: 1, 7.574999809265137: 1, 7.887499809265137: 1, 211.33749389648438: 1, 5.0: 1, 16.700000762939453: 1, 60.0: 1, 57.97919845581055: 1, 7.800000190734863: 1}

In [90]:
def replace_negative_non_numeric(df, column_name="column_to_process"):
    def process_value(value):
        # Check if value is numeric
        if pd.api.types.is_numeric_dtype(type(value)):
            # If numeric, check if it's negative
            return value if value >= 0 else -1
        else:
            # If not numeric, replace with -1
            return -1

    df[column_name] = df[column_name].apply(process_value)
    return df

In [91]:
train = replace_negative_non_numeric(train, column_to_process)
test = replace_negative_non_numeric(test, column_to_process)

In [92]:
column_to_process = 'home.dest'
train_unique_counts = count_unique_values(train, column_to_process)
test_unique_counts = count_unique_values(test, column_to_process)

# Display the unique value counts
print("Train dataset unique value counts for column", column_to_process)
print(train_unique_counts)

print("Test dataset unique value counts for column", column_to_process)
print(test_unique_counts)

Train dataset unique value counts for column home.dest
{'Unknown': 443, 'New York, NY': 54, 'London': 10, 'Cornwall / Akron, OH': 9, 'Sweden Winnipeg, MN': 7, 'Philadelphia, PA': 7, 'Brooklyn, NY': 7, 'Wiltshire, England Niagara Falls, NY': 6, 'Montreal, PQ': 6, 'Winnipeg, MB': 6, 'Paris, France': 5, 'Bournmouth, England': 4, 'Guntur, India / Benton Harbour, MI': 4, 'Rotherfield, Sussex, England Essex Co, MA': 4, 'Guernsey / Elizabeth, NJ': 4, 'Haverford, PA / Cooperstown, NY': 4, 'Ottawa, ON': 4, 'Sweden Worcester, MA': 4, 'Devon, England Wichita, KS': 4, 'Paris / Montreal, PQ': 4, 'Belfast': 4, 'Haverford, PA': 4, 'Ruotsinphytaa, Finland New York, NY': 4, 'Montevideo, Uruguay': 3, 'Lakewood, NJ': 3, 'Greenport, NY': 3, 'Southampton': 3, 'Hudson, NY': 3, 'Elkins Park, PA': 3, 'Ireland Chicago, IL': 3, 'Duluth, MN': 3, 'Hong Kong New York, NY': 3, 'East Providence, RI': 3, 'Minneapolis, MN': 3, 'Los Angeles, CA': 3, 'Syria Kent, ON': 3, 'Youngstown, OH': 3, 'Paris / Haiti': 3, 'Milwaukee, WI': 3, 'Ireland': 3, 'Syria': 3, 'Chicago, IL': 3, 'Austria': 3, 'Montreal, PQ / Chesterville, ON': 3, 'San Francisco, CA': 3, 'London, England': 3, 'Paris': 3, 'Ireland New York, NY': 3, 'St Louis, MO': 3, 'Boston, MA': 3, 'Syria Ottawa, ON': 3, 'Nice, France': 3, 'Tuxedo Park, NY': 3, 'Vancouver, BC': 2, 'Bryn Mawr, PA': 2, 'England Brooklyn, NY': 2, 'Cornwall / Clear Creek, CO': 2, 'Cape Town, South Africa / Seattle, WA': 2, 'Barcelona, Spain / Havana, Cuba': 2, 'England Albion, NY': 2, 'Halifax, NS': 2, 'London, England Norfolk, VA': 2, 'St Leonards-on-Sea, England Ohio': 2, 'Amenia, ND': 2, 'Ilfracombe, Devon': 2, 'England / Sacramento, CA': 2, 'New York, NY /  Stamford CT': 2, 'Mamaroneck, NY': 2, 'Rochester, NY': 2, 'Washington, DC': 2, 'Southington / Noank, CT': 2, 'Dowagiac, MI': 2, 'Bulgaria Chicago, IL': 2, 'Worcester, MA': 2, 'Newark, NJ': 2, 'London / New York, NY': 2, 'Cornwall / Camden, NJ': 2, 'Detroit, MI': 2, 'New York, NY / Ithaca, NY': 2, 'Portugal': 2, 'St Ives, Cornwall / Calumet, MI': 2, 'Bromsgrove, England / Montreal, PQ': 2, 'West Hampstead, London / Neepawa, MB': 2, 'Guernsey': 2, 'Denmark Hill, Surrey / Chicago': 2, 'Penzance, Cornwall / Akron, OH': 2, 'Plymouth, England': 2, 'Tampico, MT': 2, 'Scituate, MA': 2, 'Liverpool / Montreal, PQ': 2, 'Greece': 2, 'Co Athlone, Ireland New York, NY': 2, 'England / San Francisco, CA': 2, 'Bournemouth, England Newark, NJ': 2, 'Bishopstoke, Hants / Fayette Valley, ID': 2, 'Spain / Havana, Cuba': 2, 'Bridgerule, Devon': 2, 'Altdorf, Switzerland': 2, 'West Bromwich, England Pontiac, MI': 2, 'Warwick, England': 2, 'Plymouth, Devon / Detroit, MI': 2, 'Brunswick, ME': 2, 'Ilford, Essex / Winnipeg, MB': 2, 'Portland, OR': 2, 'Cornwall / Spokane, WA': 2, 'Basel, Switzerland': 2, 'Calgary, AB': 2, 'Norwich / New York, NY': 2, 'Liverpool': 2, 'Paris, France / New York, NY': 2, 'Swindon, England': 2, 'London /  East Orange, NJ': 2, 'Zurich, Switzerland': 2, 'Syria New York, NY': 2, 'Sweden  Worcester, MA': 2, 'Little Onn Hall, Staffs': 2, 'Bronx, NY': 2, 'England': 2, 'Stockholm, Sweden': 2, 'Skara, Sweden / Rockford, IL': 2, 'Somerset / Bernardsville, NJ': 2, 'St Andrews, Guernsey': 1, 'Stanton, IA': 1, 'England Oglesby, IL': 1, 'Sarnia, ON': 1, 'Oslo, Norway Cameron, WI': 1, 'India / Pittsburgh, PA': 1, 'St Austall, Cornwall': 1, 'Winnipeg, MN': 1, 'Salo, Finland Astoria, OR': 1, 'Isleworth, England': 1, 'Lake Arthur, Chavez County, NM': 1, 'Elizabeth, NJ': 1, 'Folkstone, Kent / New York, NY': 1, 'Cornwall': 1, 'Kingston, Surrey': 1, 'Aughnacliff, Co Longford, Ireland New York, NY': 1, 'West Kensington, London': 1, 'London / Middlesex': 1, 'Copenhagen, Denmark': 1, 'Hamilton, ON': 1, 'Mt Airy, Philadelphia, PA': 1, 'Argentina': 1, 'Co Sligo, Ireland Hartford, CT': 1, 'London / Paris': 1, 'Deer Lodge, MT': 1, 'London Skanteales, NY': 1, 'Worcester, England': 1, 'Streatham, Surrey': 1, 'England New York, NY': 1, 'Glasgow / Bangor, ME': 1, 'New Britain, CT': 1, 'Chelsea, London': 1, 'England / Hartford, CT': 1, 'Providence, RI': 1, 'Madrid, Spain': 1, 'St Ives, Cornwall / Hancock, MI': 1, 'Union Hill, NJ': 1, 'Co Cork, Ireland Roxbury, MA': 1, 'Moscow / Bronx, NY': 1, 'Woodford County, KY': 1, 'Liverpool, England Bedford, OH': 1, 'Kingwilliamstown, Co Cork, Ireland New York, NY': 1, 'Seattle, WA / Toledo, OH': 1, 'Bulgaria Coon Rapids, IA': 1, 'Helsinki, Finland Ashtabula, Ohio': 1, 'Hartford, CT': 1, 'Bennington, VT': 1, 'Walthamstow, England': 1, 'Goteborg, Sweden / Rockford, IL': 1, "St Anne's-on-Sea, Lancashire": 1, 'India / Rapid City, SD': 1, 'Australia Fingal, ND': 1, 'London / Montreal, PQ': 1, 'Belgium  Montreal, PQ': 1, 'Kilmacowen, Co Sligo, Ireland New York, NY': 1, 'Birkdale, England Cleveland, Ohio': 1, 'Karberg, Sweden Jerome Junction, AZ': 1, 'Springfield, MA': 1, 'Tokyo, Japan': 1, 'Asarum, Sweden Brooklyn, NY': 1, 'Lexington, MA': 1, 'Upper Burma, India Pittsburgh, PA': 1, 'London, England / Marietta, Ohio and Milwaukee, WI': 1, 'Guernsey / Wilmington, DE': 1, 'Bristol, England / New Britain, CT': 1, 'Sweden Akeley, MN': 1, 'Syria Fredericksburg, VA': 1, 'Halesworth, England': 1, 'Guernsey / Montclair, NJ and/or Toledo, Ohio': 1, 'Guernsey, England / Edgewood, RI': 1, 'Treherbert, Cardiff, Wales': 1, 'London  Vancouver, BC': 1, 'Greenwich, CT': 1, 'Hartford, Huntingdonshire': 1, 'England / Detroit, MI': 1, 'Ireland Brooklyn, NY': 1, 'Pennsylvania': 1, 'Berne, Switzerland / Central City, IA': 1, 'Ireland Philadelphia, PA': 1, 'Croatia': 1, 'Janjgir, India / Pennsylvania': 1, 'Co Sligo, Ireland New York, NY': 1, 'Southampton / New York, NY': 1, 'Manchester, England': 1, 'Foresvik, Norway Portland, ND': 1, 'Ruotsinphyhtaa, Finland New York, NY': 1, 'Wimbledon Park, London / Hayling Island, Hants': 1, 'Trenton, NJ': 1, 'Bridgwater, Somerset, England': 1, 'Elmira, NY / Orange, NJ': 1, 'Sweden / Arlington, NJ': 1, 'Austria-Hungary': 1, 'Tofta, Sweden Joliet, IL': 1, 'Auburn, NY': 1, 'Ascot, Berkshire / Rochester, NY': 1, 'East Bridgewater, MA': 1, 'Syria Youngstown, OH': 1, 'Windsor, England New York, NY': 1, 'Vadsbro, Sweden Ministee, MI': 1, 'Medeltorp, Sweden Chicago, IL': 1, 'London / Winnipeg, MB': 1, 'Westcliff-on-Sea, Essex': 1, 'New York, NY / Washington, DC': 1, 'Holley, NY': 1, 'Cornwall / Houghton, MI': 1, 'Gallipolis, Ohio / ? Paris / New York': 1, 'Belgium Detroit, MI': 1, 'Brighton, MA': 1, 'Bristol, England Cleveland, OH': 1, 'Taalintehdas, Finland Hoboken, NJ': 1, 'Victoria, BC': 1, 'New Forest, England': 1, 'London New York, NY': 1, 'Harrow, England': 1, 'Bath, England / Massachusetts': 1, 'Russia New York, NY': 1, 'Green Bay, WI': 1, 'Seattle, WA': 1, 'Strood, Kent, England Detroit, MI': 1, 'Barre, Co Washington, VT': 1, 'West Hoboken, NJ': 1, 'Brookline, MA': 1, 'Perkins County, SD': 1, 'Cornwall / Hancock, MI': 1, 'Southsea, Hants': 1, 'Norrlot, Sweden Chicago, IL': 1, 'Liverpool, England / Belfast': 1, 'London / Chicago, IL': 1, 'Bayside, Queens, NY': 1, 'Fond du Lac, WI': 1, 'Co Cork, Ireland Charlestown, MA': 1, 'Dorchester, MA': 1, 'Huntington, WV': 1, 'Broomfield, Chelmsford, England': 1, 'Oskarshamn, Sweden Minneapolis, MN': 1, 'Indianapolis, IN': 1, 'Goteborg, Sweden Huntley, IL': 1, 'Plymouth, Dorset / Houghton, MI': 1, 'New York, NY / Briarcliff Manor NY': 1, 'Illinois, USA': 1, 'Antwerp, Belgium / Stanton, OH': 1, 'Glasgow': 1, 'Bangkok, Thailand / Roseville, IL': 1, 'Norway Los Angeles, CA': 1, 'Greensburg, PA': 1, 'St Denys, Southampton, Hants': 1, 'Geneva, Switzerland / Radnor, PA': 1, 'Belfast, NI': 1, 'Sault St Marie, ON': 1, 'Portugal / Sau Paulo, Brazil': 1, 'Roachdale, IN': 1, 'Dorking, Surrey, England': 1, 'Effington Rut, SD': 1, 'Brennes, Norway New York': 1, 'Aberdeen / Portland, OR': 1, 'Pondersend, England / New Durham, NJ': 1, 'Surbiton Hill, Surrey': 1, 'East Orange, NJ': 1, 'Buenos Aires, Argentina / New Jersey, NJ': 1, 'England / Bennington, VT': 1, 'Lucca, Italy / California': 1, 'Finland Sudbury, ON': 1, 'Bournemouth, England': 1, 'Sweden Chicago, IL': 1, 'Haddenfield, NJ': 1, 'Hessle, Yorks': 1, 'Dagsas, Sweden Fower, MN': 1, 'Columbus, OH': 1, 'Brockton, MA': 1, 'Spain': 1, 'Weston-Super-Mare / Moose Jaw, SK': 1, 'Krakudden, Sweden Moune, IL': 1, 'Harrow-on-the-Hill, Middlesex': 1, 'Waukegan, Chicago, IL': 1, 'Sweden Joliet, IL': 1, 'Deephaven, MN / Cedar Rapids, IA': 1, 'Denver, CO': 1, 'Hornsey, England': 1, 'Mexico City, Mexico': 1, 'Stoughton, MA': 1, 'London Brooklyn, NY': 1, 'Buffalo, NY': 1, 'West Haven, CT': 1, 'Devonport, England': 1, 'Denmark / New York, NY': 1, 'London / Staten Island, NY': 1, 'Lyndhurst, England': 1, 'Co Longford, Ireland New York, NY': 1, 'Yoevil, England / Cottage Grove, OR': 1, 'Sydney, Australia': 1, 'Stockholm, Sweden / Washington, DC': 1, 'London / Birmingham': 1, 'Lima, Peru': 1, 'Middleburg Heights, OH': 1, 'Cologne, Germany': 1, 'Jacksonville, FL': 1, 'Stockholm, Sweden New York': 1, 'Cincinatti, OH': 1, 'Weston-Super-Mare, Somerset': 1, 'Germantown, Philadelphia, PA': 1, 'Harrisburg, PA': 1, 'Bergen, Norway': 1, 'Oslo, Norway Bayonne, NJ': 1, 'Frankfort, KY': 1, 'England Salt Lake City, Utah': 1, 'Italy Philadelphia, PA': 1, 'Merrill, WI': 1, 'Catford, Kent / Detroit, MI': 1, 'Kontiolahti, Finland / Detroit, MI': 1, 'Bristol, Avon / Jacksonville, FL': 1, 'Finland / Minneapolis, MN': 1, 'North Evington, England': 1, 'St Ives, Cornwall / Houghton, MI': 1}
Test dataset unique value counts for column home.dest
{'Unknown': 121, 'New York, NY': 10, 'Montreal, PQ': 4, 'Paris, France': 4, 'London': 4, 'Somerset / Bernardsville, NJ': 3, 'Belfast': 3, 'Bulgaria Chicago, IL': 3, 'Wiltshire, England Niagara Falls, NY': 2, 'Syria New York, NY': 2, 'Bangkok, Thailand / Roseville, IL': 2, 'Strood, Kent, England Detroit, MI': 2, 'Washington, DC': 2, 'Stanton, IA': 2, 'Lexington, MA': 2, 'Bryn Mawr, PA': 2, 'Winnipeg, MB': 2, 'England / Bennington, VT': 1, 'Glen Ridge, NJ': 1, 'Providence, RI': 1, 'Russia New York, NY': 1, 'Montreal, PQ / Chesterville, ON': 1, 'Isle of Wight, England': 1, 'Paris / Haiti': 1, 'London, England': 1, 'Greenwich, CT': 1, 'Fond du Lac, WI': 1, 'Austria Niagara Falls, NY': 1, 'Moscow / Bronx, NY': 1, 'New Forest, England': 1, 'San Francisco, CA': 1, 'Sweden Worcester, MA': 1, 'London / Fort Byron, NY': 1, 'Lucca, Italy / California': 1, 'Finland / Washington, DC': 1, 'Minneapolis, MN': 1, 'Cornwall': 1, 'Rochester, NY': 1, 'Newark, NJ': 1, 'Belmont, MA': 1, 'Co Longford, Ireland New York, NY': 1, 'Bryn Mawr, PA, USA': 1, 'Geneva, Switzerland / Radnor, PA': 1, 'Zurich, Switzerland': 1, 'Ireland Chicago, IL': 1, 'Co Limerick, Ireland Sherbrooke, PQ': 1, 'Cornwall, England Houghton, MI': 1, 'Tranvik, Finland New York': 1, 'West Haven, CT': 1, 'Trenton, NJ': 1, 'Co Clare, Ireland Washington, DC': 1, 'Cornwall / Hancock, MI': 1, 'Albany, NY': 1, 'Sittingbourne, England / San Diego, CA': 1, 'Cornwall / Houghton, MI': 1, 'Deephaven, MN / Cedar Rapids, IA': 1, 'Paris /  New York, NY': 1, 'Austria': 1, 'Pomeroy, WA': 1, 'Austria-Hungary / Germantown, Philadelphia, PA': 1, 'Youngstown, OH': 1, 'Indianapolis, IN': 1, 'Ilford, Essex / Winnipeg, MB': 1, 'Paris, France New York, NY': 1, 'Madrid, Spain': 1, 'Liverpool, England Bedford, OH': 1, 'Provo, UT': 1, 'West Bromwich, England Pontiac, MI': 1, 'Ireland New York, NY': 1, 'New York, NY / Greenwich CT': 1, 'Mt Airy, Philadelphia, PA': 1, 'West Hampstead, London / Neepawa, MB': 1, 'Gunnislake, England / Butte, MT': 1, 'London / Paris': 1, 'Kingwilliamstown, Co Cork, Ireland Glens Falls, NY': 1, 'Isleworth, England': 1, 'Aberdeen / Portland, OR': 1, 'England / Philadelphia, PA': 1, 'Cooperstown, NY': 1, 'Weston-Super-Mare, Somerset': 1, 'Omaha, NE': 1, 'Cambridge, MA': 1, 'Bristol, England / New Britain, CT': 1, 'Cape Town, South Africa / Seattle, WA': 1, 'Clevedon, England': 1, 'Bishopstoke, Hants / Fayette Valley, ID': 1, 'Sweden  Worcester, MA': 1, 'Toronto, ON': 1, 'Plymouth, Devon / Detroit, MI': 1, 'Ottawa, ON': 1, 'Haverford, PA / Cooperstown, NY': 1, 'Russia': 1, 'Rotterdam, Netherlands': 1, 'Brighton, Sussex': 1, 'St Ives, Cornwall / Hancock, MI': 1, 'Elizabeth, NJ': 1, 'St James, Long Island, NY': 1, 'Krakoryd, Sweden Bloomington, IL': 1, 'Lower Clapton, Middlesex or Erdington, Birmingham': 1, 'Philadelphia, PA': 1, 'England Brooklyn, NY': 1, '?Havana, Cuba': 1, 'Portland, OR': 1, 'St Louis, MO': 1, 'Huntington, WV': 1, 'Chicago, IL': 1, 'Rotherfield, Sussex, England Essex Co, MA': 1, 'Milford, NH': 1, 'Myren, Sweden New York, NY': 1}

In [93]:
train[column_to_process] = train[column_to_process].apply(lambda x: 0 if x == "Unknown" else 1)
test[column_to_process] = test[column_to_process].apply(lambda x: 0 if x == "Unknown" else 1)

In [94]:
column_to_process = "boat"
train_unique_counts = count_unique_values(train, column_to_process)
test_unique_counts = count_unique_values(test, column_to_process)

# Display the unique value counts
print("Train dataset unique value counts for column", column_to_process)
print(train_unique_counts)

print("Test dataset unique value counts for column", column_to_process)
print(test_unique_counts)

Train dataset unique value counts for column boat
{0: 655, '15': 34, '13': 32, 102: 29, '10': 27, '14': 26, '4': 25, '5': 23, '16': 20, '11': 19, '3': 19, '8': 19, 103: 18, '7': 17, '12': 17, '6': 15, '9': 14, '2': 10, 100: 8, 101: 8, '1': 4, '13 15': 2, '5 7': 2, '5 9': 1, '13 15 B': 1, '8 10': 1, '15 16': 1}
Test dataset unique value counts for column boat
{0: 168, '9': 11, 102: 9, '3': 7, '13': 7, '14': 7, '4': 6, '11': 6, '7': 6, '6': 5, '5': 4, '8': 4, '16': 3, '2': 3, 100: 3, '15': 3, '10': 2, 'C D': 2, '12': 2, 103: 2, '1': 1, 101: 1}

# Cross validation

In [95]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import RandomizedSearchCV

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

We use the RandomForestClassifier model with 50 trees, maximum tree depth 5. Anything more causes overfitting and less underfitting

In [96]:

feature_columns = ["age", "cabin", "embarked", "fare", "home.dest", "parch", "pclass", "sex", "sibsp", "ticket"]
target_column = "survived"

# Divide data into features and target column
X_train = train[feature_columns]
y_train = train[target_column]

X_test = test[feature_columns]
y_test = test[target_column]

model = RandomForestClassifier(n_estimators=50, max_depth=5, random_state=1)
cv_scores = cross_val_score(model, X_train, y_train, cv=5)  # 5-fold cross-validation

print("Cross-validation scores:", cv_scores)
print("Mean cross-validation score:", cv_scores.mean())

# learning model
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

#  accuracy of model
accuracy = accuracy_score(y_test, y_pred)
print("Test accuracy:", accuracy)

print(classification_report(y_test, y_pred))

Cross-validation scores: [0.79047619 0.81428571 0.77990431 0.79425837 0.80382775]
Mean cross-validation score: 0.7965504670767828
Test accuracy: 0.8320610687022901
              precision    recall  f1-score   support

           0       0.81      0.96      0.88       163
           1       0.90      0.63      0.74        99

    accuracy                           0.83       262
   macro avg       0.85      0.79      0.81       262
weighted avg       0.84      0.83      0.82       262

# Hyperparameter optimization

In [97]:


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score, classification_report

# Parameters for RandomizedSearchCV (reduced range of parameters)
param_dist = {
    'n_estimators': [50, 100],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2]
}

# Initialize the model
model = RandomForestClassifier(random_state=1)

# RandomizedSearchCV for hyperparameter tuning (reduced number of iterations and folds)
random_search = RandomizedSearchCV(estimator=model, param_distributions=param_dist, n_iter=20, cv=3, scoring='accuracy', n_jobs=-1, random_state=1)
random_search.fit(X_train, y_train)

# Best parameters and evaluation
print("Best parameters found by RandomizedSearchCV:")
print(random_search.best_params_)

# Train the model with the best parameters
best_model = random_search.best_estimator_

# Predict on test data with the best model
y_pred_best = best_model.predict(X_test)

# Evaluate the accuracy of the model on test data
accuracy_best = accuracy_score(y_test, y_pred_best)
print("Accuracy on test data with the best model:", accuracy_best)

# Print the full classification report
print(classification_report(y_test, y_pred_best))

Best parameters found by RandomizedSearchCV:
{'n_estimators': 50, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_depth': 10}
Accuracy on test data with the best model: 0.8244274809160306
              precision    recall  f1-score   support

           0       0.82      0.92      0.87       163
           1       0.84      0.67      0.74        99

    accuracy                           0.82       262
   macro avg       0.83      0.79      0.80       262
weighted avg       0.83      0.82      0.82       262

#k-means

In [98]:





# Standardization
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Use K-Means for 2 clusters
kmeans = KMeans(n_clusters=2, random_state=1)
clusters_train = kmeans.fit_predict(X_train_scaled)
clusters_test = kmeans.predict(X_test_scaled)

X_train['cluster'] = clusters_train
X_test['cluster'] = clusters_test

model = RandomForestClassifier(n_estimators=100, random_state=1)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy on test data:", accuracy)
print(classification_report(y_test, y_pred))

test['predicted_survived'] = y_pred
survivors = test[test['predicted_survived'] == 1]
print("List of surviving passengers:")
survivors.head()

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
<ipython-input-98-453e917d953b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['cluster'] = clusters_train
<ipython-input-98-453e917d953b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['cluster'] = clusters_test

Accuracy on test data: 0.8053435114503816
              precision    recall  f1-score   support

           0       0.82      0.88      0.85       163
           1       0.78      0.68      0.72        99

    accuracy                           0.81       262
   macro avg       0.80      0.78      0.79       262
weighted avg       0.80      0.81      0.80       262

List of surviving passengers:

,age,boat,body,cabin,embarked,fare,home.dest,name,parch,pclass,sex,sibsp,survived,ticket,predicted_survived
251,48,14,-1,0,2,36.750000,1,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",2,1,1,0,1,33112,1
300,19,0,-1,1,2,263.000000,1,"Fortune, Mr. Charles Alexander",2,0,0,3,0,19950,1
1061,23,6,-1,1,0,113.275002,1,"Newell, Miss. Marjorie",0,0,1,1,1,35273,1
1087,3,0,-1,0,2,13.775000,0,"Peacock, Miss. Treasteall",1,2,1,1,0,3101315,1
1100,31,3,-1,1,0,134.500000,0,"Wilson, Miss. Helen Alice",0,0,1,0,1,16966,1